<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FlexRule" type="FlexRule.Configurations.FlexRuleConfigurationSection, FlexRule.Core.Library"/>
  </configSections>
  <FlexRule>
    <Trace enabled="true">
      <option name="FlexRule.Exception" value="true" />
      <option name="FlexRule.Load.Adapter" value="true"/>
      <option name="FlexRule.Load.Type" value="true"/>
      <option name="FlexRule.Variables.Filter" value="Activity,Var,Scope"/>
      <option name="FlexRule.Models.Filter" value="Activity,Var,Scope"/>
      <option name="FlexRule.Variables.ComplexTypes" value="true"/>
      <option name="FlexRule.Variables.ComplexTypes.MaxDepth" value="5"/>
      <option name="FlexRule.Variables.ComplexTypes.ExcludedNamespace" value="System; System.*;"/>
      <option name="FlexRule.Variables.Collection" value="true"/>
      <option name="FlexRule.Variables.Collection.MaxCount" value="5"/>
      <option name="FlexRule.Engines" models="OnItemOutOfScope,OnExecuted" variables="OnItemOutOfScope,OnExecuted" />
      <option name="FlexRule.ExpressionTree" value="true" />
    </Trace>
  </FlexRule>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        <!--
          <add name="TextListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="d:\TextWriterOutput.log" />
        -->
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
